include ./../../layouts/mixin.jade

- var img_1 = 'themes/atemporale/assets/images/portfolio/inovar/concept_1.jpg'
- var alt_1 = 'Técnica'
- var figcaption_1 = 'Técnica'

- var img_2 = 'themes/atemporale/assets/images/portfolio/inovar/concept_2.jpg'
- var alt_2 = 'Matéria-prima'
- var figcaption_2 = 'Matéria-prima'

- var img_3  = 'themes/atemporale/assets/images/portfolio/inovar/concept_3.jpg'
- var alt_3 = 'Versatilidade'
- var figcaption_3 = 'Versatilidade'

.section-row.half-padding-top.half-padding-bottom.project-media(data-background="/themes/atemporale/assets/images/portfolio/inovar/sketch.jpg")
    .media-container
        .nearby-slider
            .royalSlider.rsHydrogen
                .clear
                .media
                    figure
                        img.rsImg(src="#{img_1}", alt="#{alt_1}")/
                        figcaption.label.label-default #{figcaption_1}
                .media
                    figure
                        img.rsImg(src="#{img_2}", alt="#{alt_2}")/
                        figcaption.label.label-default #{figcaption_2}
                .media
                    figure
                        img.rsImg(src="#{img_3}", alt="#{alt_3}")/
                        figcaption.label.label-default #{figcaption_3}
                .clear
h3.page-title.text-center.col-md-8.col-md-offset-2.padding-top-50.padding-bottom-100
    small Palavras que querem significar... MATÉRIA-PRIMA - o indispensável para a produção de algo. Que pode sofrer transformação com TÉCNICA - método para criar algo com maestria se for dado também espaço a VERSATILIDADE - que tende a mudar quando se têm uma visão que vai além do óbvio, para assim encontrar o jeito de inovar!'
